#screen {
    font-size: 35px;
    font-weight: bold;
    height: 70px;
    margin-bottom: 10px;
    text-align: right;
}
#borda {    
    background-color: gray;
    padding: 10px;    
}
#calculadora {
    margin-top: 30px;
    margin-bottom: 30px;
}
#teclado {    
    display: flex;
    text-align: center;        
}
#historico {    
    display: flex;    
    justify-content: center;  
    border: 1px solid black;    
}
#mostra-historico {
    display: flex;
    margin-top: 10px;
    text-align: center; 
    font-size: 25px;   
}
.btn.btn-primary {
    height: 75px;
    font-size: 25px;
    background-color: black;
    border-color: white;
    text-align: center;
    padding: 0px;
    width: 100%;    
}
.form-control {    
    margin-bottom: 10px;
}